# Cmake files
path-detector/CMakeCache.txt
path-detector/CMakeFiles
path-detector/Makefile
path-detector/cmake_install.cmake
path-detector/install_manifest.txt

VideoCapture/CMakeCache.txt
VideoCapture/CMakeFiles
VideoCapture/Makefile
VideoCapture/cmake_install.cmake
VideoCapture/install_manifest.txt

#binaries
path-detector/bin/*
VideoCapture/bin/*

# Matlab files
# Windows default autosave extension
*.asv
# OSX / *nix default autosave extension
*.m~
# Compiled MEX binaries (all platforms)
*.mex*
# Simulink Code Generation
slprj/

# media files
*.png
*.jpg
*.mp4
*.mkv
*.seq
*.mov
